<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>testenv - testing virtual environment</title>
    </head>
    <body id="body">
       <b>Good morning</b></br></br>
       <div>
        <form action="/child" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value={{id}}>
            <input type="hidden" name="name" value={{name}}>
            <input type="hidden" name="pesel" value={{pesel}}>
            <p>
                <label>ID: </label>
                <textarea id="id" name="id" rows="1" cols="10"></textarea>
            </p>
        <p>
            <label>Child name: </label>
            <textarea id="name" name="name" rows="1" cols="50"></textarea>
        </p>
        <p>
            <label>Pesel number: </label>
            <textarea id="pesel" name="pesel" rows="1" cols="11"></textarea>
        </p>
        <button type="submit">Add your child to database</button>
        </form>
    </div>
       
    </body>
</html>